[submodule "app/src/main/cpp/PlanarPhysics"]
	path = app/src/main/cpp/PlanarPhysics
	url = https://github.com/spencerparkin/PlanarPhysics
[submodule "app/src/main/cpp/ParseParty"]
	path = app/src/main/cpp/ParseParty
	url = https://github.com/spencerparkin/ParseParty
[submodule "app/src/main/cpp/oboe"]
	path = app/src/main/cpp/oboe
	url = https://github.com/google/oboe
[submodule "app/src/main/cpp/AudioDataLib"]
	path = app/src/main/cpp/AudioDataLib
	url = https://github.com/spencerparkin/AudioDataLib
